.container {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	display: flex;
	flex-direction: column;
	gap: 24px;
	box-sizing: border-box;
	width: 616px;
	height: 100vh;
	padding: 24px;
	overflow-y: auto;
	background: #ffffff;
	border-right: 1px solid #000000;
	transform: translateX(-616px);
	transition: transform 0.5s ease;
}

.container_open {
	transform: translateX(0);
}

.bottomContainer {
	display: flex;
	gap: 12px;
	margin-top: auto;
}
